@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base { 
    h1, h2 {
        @apply font-title;
        @apply text-blue-900
    }

    p {
        @apply font-body;
        @apply p-3;
    }

}

@layer components {
    .scrollTop {
        position: fixed; 
        width: 100%;
        bottom: 20px;
        align-items: center;
        height: 20px;
        right: 20px;
        justify-content: center;
        z-index: 1000;
        cursor: pointer;
        animation: fadeIn 0.3s;
        transition: opacity 0.4s;
        opacity: 0.5;
        }

    .scrollTop:hover{
        opacity: 1;
        }
}